%svg-icon {
  fill: get($colors, action);
  min-width: 1em;
  min-height: 1em;
  max-width: 2em;
  max-height: 2em;
  vertical-align: middle;

  &:hover {
    fill: lighten(get($colors, action), 15%);
  }
}

%clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 1em;

  &,
  &:active,
  &:focus {
    outline: 0;
  }
}

%input-color {
  background-color: get($colors, input, bg);
  color: get($colors, input, fg);
}
