%svg-icon {
  fill: get($colors, action);

  &:hover {
    fill: lighten(get($colors, action), 15%);
  }
}

%clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 1em;

  &,
  &:active,
  &:focus {
    outline: 0;
  }
}

%svg-button {
  @extend %clear-button;

  min-width: 2em;
  min-height: 2em;

  svg {
    @extend %svg-icon;
  }

  &:hover {
    svg {
      fill: lighten(get($colors, action), 15%);
    }
  }
}

%input-color {
  background-color: get($colors, input, bg);
  color: get($colors, input, fg);
}
