@import '../scss/variables';

/* @define loading */
.loading {
  font-family: $default-font-family;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(get($colors, greys, 1000), 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  user-select: none;

  &__icon {
    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }

    animation: rotate 1.5s linear infinite;
    fill: get($colors, action);
    height: 4em;
    width: 4em;
  }

  &__message {
    font-size: 1.5em;
  }
}
